.selectElem {
    margin-left: 2%;
}

.selectProject {
    margin-left: 5%;
}

.submitBtn {
    margin-left: 2%;
}

.displayText {
    width:600px;
    text-align:left;
    display:inline-block;
    font-size: 18px;
}

